@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.container {
  width: 90%;
  margin: 0 auto;
}
img {
  max-width: 100%;
}

/* NavBarComponent */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}
.desktop {
  display: none;
}
.mobile {
  display: block;
  
}
.mobile-menu-icon {
  margin-right: 1em;
}
.cart-number {
  background-color: orange;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  height: 20px;
  width: 18px;
  position: absolute;
  right: 14.5%;
}
.mobile-avatar {
  height: 30px;
  margin-left: 1em;
}
.cart-menu-mobile {
  background-color: #fff;
  border-radius: 6px;
  height: 300px;
  position: absolute;
  top: 10%;
  left:   5%;
  width: 90%;
  z-index: 1;
}
.cart-menu-mobile > div {
  text-align: left;
  margin: 0 auto;
  padding: 1em;
}
.cart-p {
  padding-bottom: 1em;
}
.cart-menu-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin-top: 2em;
}
.thumbnail {
  height: 80px;
  width: 100px;
  margin-right: 2em;
}
.checkout-btn {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  margin-top: 3em;
  padding: 1em 0;
  width: 100%;
}
.main-open-menu-mobile {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.open-menu-mobile {
  height: 100vh;
  width: 75%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.open-menu-mobile div {
  text-align: left;
  margin: 2em auto;
  width: 90%;
}
.open-menu-mobile div img {
  margin-bottom: 2em;
}
.open-menu-mobile div ul {
  list-style: none;
  font-weight: 700;
}
.open-menu-mobile div ul li {
  font-size: 1.1rem;
  margin: 1.3em 0;
}
/* MobilePictureDisplay */
.desktop-picture-div {
  display: none;
}
.mobile-picture-div {
  position: relative;
  height: 360px;
}
.prev-mobile {
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 3%;
}

.products {
  height: 360px;
  width: 100%;
}
.next-mobile {
  border: none;
  border-radius: 50px;
  height: 40px;
  width: 40px;
  background-color: #fff;
  position: absolute;
  top: 45%;
  right: 3%;
}

/* TextComponent */
.text-component-div {
  padding: 1.5  em 0 1em 0;
  text-align: left;
}
.sneaker-h3 {
  color: hsl(26, 100%, 55%);
  font-weight: 700;
  padding-top: 1em;
}
.sneaker-h1 {
  font-weight: 700;
  padding: .3em 0;
}
.sneaker-p {
  color: hsl(219, 9%, 45%);
  font-weight: 400;
  line-height: 1.5rem;
  padding-bottom: 1em;
}
.text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-row h2 {
  font-weight: 700;
}
.text-row h2 span {
  background-color: hsl(25, 100%, 94%);
  border-radius: 6px;
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
  font-weight: 700;
  margin-left: .5em;
  padding: 3px 10px;
}
.text-row p del {
  color: rgb(184, 187, 194);
  font-weight: 700;
}
.text-first-button {
  background-color: rgb(247, 248, 253);
  border: none;
  border-radius: 6px;
  box-shadow: 1px 2px 5px rgb(214, 213, 213);
  padding: 1em;
  width: 100%;
  margin: 1em 0 .5em 0;
  position: relative;
}
.minus-image {
  position: absolute;
  top: 50%;
  left: 5%;
}
.prod-quantity {
  font-weight: 700;
  font-size: 1.5rem;
}
.plus-image {
  position: absolute;
  top: 40%;
  right: 5%;
}
.text-second-button {
  background-color: hsl(26, 100%, 55%);
  border: none;
  border-radius: 6px;
  box-shadow: 5px 5px 15px hsl(25, 100%, 94%);
  padding: 1em;
  width: 100%;
  margin: 1em 0;
}
.text-second-button img {
  filter: contrast(200%);
}
.text-second-button span {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  margin-left: 1em;
}

@media(min-width: 760px){
  /* NavComponent */
  .cart-number {
    right: 10.5%;
  }
  /* MobilePictureDisplay */
  .mobile-picture-div {
    height: 460px;
  }

  .products {
    height: 460px;
  }
}

@media(min-width: 1000px){
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    /* border: 1px solid red; */
  }
  .nav {
    width: 75%;
    border-bottom: 1px solid hsl(220, 14%, 75%);
  }
  .mobile {
    display: none;
  }
  .desktop {
    display: block;
  }
  .desktop ul {
    display: flex;
    align-items: center;
    list-style: none;
  }
  .list-items li {
    color:hsl(219, 9%, 45%);
    margin-right: 2em;
    position: relative;
    left: -60%;
    transition: .3s;
  }
  .list-items li:hover {
    border-bottom: 3px solid hsl(26, 100%, 55%);
    cursor: pointer;
  }
  .cart-number {
    background-color: hsl(26, 100%, 55%);
    right: 15.9%;
  }
  .desktop-cart:hover {
    cursor: pointer;
  }
  .desktop-avatar {
    height: 50px;
    margin-left: 1em;
    transition: .3s;
  }
  .desktop-avatar:hover {
    border: 10px solid hsl(26, 100%, 55%);
    border-radius: 60px;
    cursor: pointer;
  }
  .cart-menu-mobile {
    background-color: #fff;
    border-radius: 6px;
    height: 300px;
    position: absolute;
    top: 10%;
    left: 64%;
    width: 465px;
    z-index: 1;
    box-shadow: 0px 5px 15px rgb(184, 187, 194);
  }
  .cart-menu-mobile > div {
    text-align: left;
    margin: 0 auto;
    padding: 1em;
  }
  .cart-p {
    padding-bottom: 1em;
  }
  .cart-menu-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2em;
  }
  .thumbnail {
    border-radius: 6px;
    height: 80px;
    width: 100px;
    margin-right: 0em;
  }
  .checkout-btn {
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    margin-top: 3em;
    padding: 1em 0;
    width: 100%;
  }

  /* MobilePictureDisplay */
  .mobile-picture-div {
    height: 0px;
    display: none;
  }
  .desktop-picture-div {
    display: block;
    margin-top: 5em;
    width: 60%;
  }
  .desktop-picture-div img {
    border-radius: 20px;
  }
  .map-div-pictures {
    display: inline-block;
    width: 110px;
    margin: 1em .86em;
  }
  .map-div-pictures img {
    border-radius: 6px;
    transition: .3s;
  }
  .map-div-pictures img:hover {
    cursor: pointer;
    opacity: .65;
  }

  .active {
    border: 3px solid hsl(26, 100%, 55%);
    border-radius: 6px;
    opacity: .5;
  }

  
/* TextComponent */
  .text-component-div {
    padding: 0em;
    width: 70%;
    margin-left: 3em;
    position: relative;
  }
  .sneaker-h3 {
    font-size: 1.5rem;
    padding-top: 0em;
  }
  .sneaker-h1 {
    font-weight: 700;
    font-size: 3.5rem;
    padding: .2em 0;
    line-height: 60px;
  }
  .sneaker-p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    padding-bottom: 1.5em;
    width: 80%;
  }
  .text-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .text-row h2 {
    font-weight: 700;
  }
  .text-row h2 span {
    background-color: hsl(25, 100%, 94%);
    border-radius: 6px;
    color: hsl(26, 100%, 55%);
    font-size: 1rem;
    font-weight: 700;
    margin-left: .5em;
    padding: 3px 10px;
  }
  .text-row p del {
    color: rgb(184, 187, 194);
    font-weight: 700;
    position: absolute;
    top: 77%;
    left: 0;
  }
  .text-first-button {
    background-color: rgb(247, 248, 253);
    border: none;
    border-radius: 6px;
    box-shadow: 1px 2px 5px rgb(214, 213, 213);
    padding: 1em;
    width: 30%;
    margin: 3em 0 .5em 0;
    position: relative;
  }
  .minus-image:hover {
    cursor: pointer;
  }
  .plus-image:hover {
    cursor: pointer;
  }
  .prod-quantity {
    font-size: 1.3rem;
  }
  .text-second-button {
    background-color: hsl(26, 100%, 55%);
    border: none;
    border-radius: 6px;
    box-shadow: 5px 5px 15px hsl(25, 100%, 94%);
    padding: 1.1em;
    width: 50%;
    margin: 1em 0 0 2em;
  }
  .text-second-button:hover {
    cursor: pointer;
  }
  .text-second-button span {
    color: #fff;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 1em;
  }

  /* DesktopModal */
  .modal-div {
    display: none;
  }
  #modal-container {
    background-color: rgb(0,0,0,.95);
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 710px;
    width: 570px;
  }
  #close {
    color: #fff;
    font-size: 2.5rem;
    position: absolute;
    top: -50px;
    right: 0;
  }
  #close:hover {
    cursor: pointer;
  }
}