@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
}
img {
  max-width: 100%;
}

/* NavBarComponent */
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 1.5em 0;
}
.desktop {
  display: none;
}
.mobile-menu-icon {
  margin-right: 1em;
}
.mobile-avatar {
  height: 30px;
  margin-left: 1em;
}